@import "tailwindcss";

@media print {
  @page {
    size: A4 landscape;
    /* Menentukan orientasi lanskap secara eksplisit */
    orientation: landscape;
    margin: 5mm;
  }

  body {
    background: white !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .no-print {
    display: none !important;
  }
}